.index {
  flex-direction: column;
  width: 100%;
}
.sel-menu {
  margin: 10px auto;
}
.card {
  margin: 10px auto;
}

$rd: 120px;
.fixed-btn {
  position: fixed;
  right: 25px;
  bottom: 30px;
  width: $rd;
  height: $rd;
  border-radius: $rd;
  background-color: $baseColor;
  color: $white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  .map-pin {
  }
}

.at-tabs-pane {
  height: 100%;
}

.tablist {
  background-color: $baseColor;
}
