@import "~taro-ui/dist/style/components/icon.scss";
.card {
  margin: 10px auto;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $baseWidth;
  border-radius: 20px;

  .loading {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    font-size: 60px;
  }
  .img {
    width: 100%;
    height: 350px;
  }

  .body {
    padding: 18px;
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    .content {
      flex: 8;
      .title {
        font-size: 30px;
        color: black;
        margin-bottom: 18px;
        font-weight: bold;
      }
      .desc {
        font-size: 20px;
        color: $gray;
      }
    }

    .heart {
      flex: 2;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      color: $baseColor;
      text-align: center;

      .heart-icon {
        font-size: 50px;
      }

      .heart-text {
        font-size: 20px;
      }
    }
  }
}

.my {
  width: 600px;
  border-radius: 8px;
  box-shadow: 0 10rpx 20rpx 1px $gray;

  margin: 30px auto;
  overflow: hidden;
  &-t {
    font-size: 30px;
    padding: 18px;
    border-bottom: 1px solid $gray;
    background-color: $baseColor;
    color: $white;
    .list {
    }
  }
}
